.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody              

                tr
                    td Aprendecine.com (2017). Salto de eje y eje de acción en el cine.
                    td Pagina web 
                    td 
                        a(href="https://fliphtml5.com/ojfbf/bapc/basic  ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver   
                tr
                    td AllahOfw0ne (2006), "The untimely death of Pudge the fish".
                    td Video
                    td 
                        a(href="https://youtu.be/LxmT-zQc1GQ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> ver                  
                tr
                    td Brad Bird on how to compose shots for storyboards Y layout artists.
                    td Recurso 
                    td 
                        a(href="media/documentos/Brad_Bird.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  
                tr
                    td Doucet, Ron, (2020). Drawing & Composition for visual storytelling.
                    td Web 
                    td 
                        a(href="http://www.floobynooby.com/comp1.html#anchor", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> ver 
                tr
                    td Floobynooby (2020), Drawing & Composition for visual storytelling.
                    td Web
                    td 
                        a(href="http://www.floobynooby.com/comp1.html#anchor", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Goat Zod (2019), Avengers 2 Age of Ultron Previs 2.
                    td Video
                    td 
                        a(href="https://youtu.be/cG0DBZPRkTQ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Jiménez, Oscar, (2017), Diseña tus personajes de animación con arte.
                    td Video 
                    td 
                        a(href="https://vimeo.com/91390586", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td IurisdocTV, (2013), Elevator pitch. Tienes 20 segundos - eduCaixa
                    td Video
                    td 
                        a(href="https://youtu.be/2b3xG_YjgvI", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Kevin Parry (2010), The Arctic Circle - Storyboard Comparison.
                    td Video
                    td 
                        a(href="https://vimeo.com/12153179", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td La ciencia del Cine (2018). Planos y movimientos de Cámara I.
                    td Video 
                    td 
                        a(href="https://youtu.be/AN2I1CTn3rY", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver 
                tr
                    td La ciencia del Cine (2019). Plano y Movimientos de Cámara II: Angulación.
                    td Video 
                    td 
                        a(href="https://youtu.be/ILRjN0b30Pc", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver 
                tr
                    td La ciencia del Cine (2020). Plano y Movimientos de Cámara III: Puntos de vista y movimientos.
                    td Video 
                    td 
                        a(href="https://youtu.be/dBPjG2YipY4", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver 
                tr
                    td La ciencia del Cine (2020), Elementos del cine: CONTINUIDAD + ERRORES en películas.
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=ew5WzvL-fEk&ab_channel=LacienciadelCine", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Ministerio de educación Argentina (2011), Medios audiovisuales, Animación en el aula.
                    td PDF 
                    td 
                        a(href="media/documentos/animacion_web.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 
                tr
                    td Negocios y Empresa (2018, Cómo hacer un Elevator Pitch que enamore al Inversor.
                    td Video
                    td 
                        a(href="https://youtu.be/EsAkvzIoEvc", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver                
                tr
                    td The Damn Beast (2020), Ritmo narrativo: ¿qué es y por qué es tan importante? | el laberinto #005.
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=YwJaz7tXq1Y", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Toby Kearton (2016),Taxi Driver (1976) | Scene and Storyboard Comparison.
                    td Video
                    td 
                        a(href="https://youtu.be/Ydl6wQnEQYg", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td TRNGL Entertainment (2020), Dolly Zoom (El efecto vértigo) | Curso de Cine.
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=hqcyg-g8_Ok&ab_channel=TRNGL", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver           