.container#tema_1

    .header-ecored
        h1 1. Lenguaje audiovisual

    .jumbotron.bg-white     
      
      .row.justify-content-center
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_1/img_1.png", alt="", style="width:100%").img-fluid 
        
        .col-12
          p.mb-0 El lenguaje audiovisual hace referencia a la comunicación mediante sonidos e imágenes. Es una forma de expresión que integra el lenguaje verbal (escrito y hablado), visual y sonoro. Como lo expresa Antonio R. Bartolomé:

        .col-12.my-5
          .quote__symbol
            .quote__icon
              img(src="assets/images/icons/quote-left.svg", alt="")
            .quote__line
          .quote__txt
            p La clave del lenguaje audiovisual es que el significado del mensaje viene dado por la interacción sonido-imagen, dentro de un contexto secuencial. En el Lenguaje Audiovisual, tal como lo entendemos aquí, las músicas, los efectos sonoros, los ruidos y los silencios colaboran en la transmisión del mensaje, no como "fondo" o "complemento" sino conformando realmente el mensaje. (BARTOLOMÉ, 1987) (ACEITUNO, 2010)           
          .quote__symbol
            .quote__line
            .quote__icon
              img(src="assets/images/icons/quote-right.svg", alt="")

    
      .row.justify-content-center.mt-5.mb-3
        .col-12
          .jumbotron.mb-0
            p.text-center.mb-0 El lenguaje audiovisual está compuesto por cuatro aspectos principalmente       

      .row.justify-content-center.align-items-center
        .col-12.col-md-10.col-lg-6.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_01.png", alt="", style="100%").img-fluid
        .col
          .list
            .list__item
              .list__item__bulletNumber
                span 01
            .list__txt
              p.mb-2 #[strong Morfológico] 
              p Hace referencia a sus elementos constitutivos, es decir, la imagen, el sonido y el movimiento. Estos elementos establecen una dimensión temporal y espacial.        
          .list
            .list__item
              .list__item__bulletNumber
                span 02
            .list__txt
              p.mb-2 #[strong Sintáctico] 
              p Son aquellas reglas y principios que ayudarán a estructurar y combinar los elementos morfológicos con el fin de expresar significado en conjunto.        
          .list
            .list__item
              .list__item__bulletNumber
                span 03
            .list__txt
              p.mb-2 #[strong Semántico] 
              p Es el significado de cada elemento, ya sea denotativo (lo que literalmente significa) o connotativo (lo que se interpreta o valora de manera particular por cada individuo). Cada elemento morfo-sintáctico cumple una función semántica.        
          .list
            .list__item
              .list__item__bulletNumber
                span 04
            .list__txt
              p.mb-2 #[strong Estético] 
              p Pretende crear o producir una sensación de belleza, armonía, agrado y gracia.
      
      .row.mb-5
        .col-12
          .jumbotron.mb-0
            p.text-center.mb-0 Ahora, es bueno profundizar en el aspecto sintáctico del lenguaje audiovisual:

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/icon_1_01.svg", alt="", style="width:65px")
        .col.col-lg-10
          .jumbotron.bg-custom.mb-0
            p.mb-0 #[strong Campo:] es el espacio, entorno o escenario.

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/icon_1_02.svg", alt="", style="width:65px")
        .col.col-lg-10
          .jumbotron.bg-custom.mb-0
            p.mb-0 #[strong Encuadre:] es el límite físico que recorta un fragmento del campo dentro de un rectángulo, de acuerdo con una posición y ángulo de visión concretos.

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/icon_1_03.svg", alt="", style="width:65px")
        .col.col-lg-10
          .jumbotron.bg-custom.mb-0
            p.mb-0 #[strong Formato o relación de aspecto:] es la proporción de ancho y alto del encuadre. Existen dos formatos estándar: formato 4:3 y 16:9. Originalmente estas relaciones responden a la proporción de la pantalla de televisión y a la del cine, respectivamente. Hoy día obedece más a criterios estéticos del director. (CÁMARA, 2006)
      .row.justify-content-center.mb-5
        .col-10(style="margin-left:5.5rem;")
          img(src="assets/images/pages/tema_1/img_1_02.jpg", alt="", style="width:100%")
          p.text-center.mt-4 #[i Ejemplo de campo, encuadre y aspecto]

      .row.justify-content-center.mb-5
        .col-10(style="margin-left:5.5rem;")
          .quote__symbol
            .quote__icon
              img(src="assets/images/icons/quote-left.svg", alt="")
            .quote__line
          .quote__txt
            p Podría decirse que la cámara equivale al ojo humano, y dentro de una producción audiovisual, el director ‘manipula’ al público, mostrándole la realidad que al director interesa y de la manera que él desea. Para esto se vale de los tipos de planos, ángulos y movimientos de cámara. (ACEITUNO, 2010)          
          .quote__symbol
            .quote__line
            .quote__icon
              img(src="assets/images/icons/quote-right.svg", alt="")

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/icon_1_04.svg", alt="", style="width:65px")
        .col.col-lg-10
          .jumbotron.bg-custom.mb-0
            p.mb-0 #[strong Plano:] es la unidad narrativa más pequeña con significado. Se pueden dividir según su ángulo de corte (CÁMARA, 2006), usualmente tomando como referencia la figura humana.

      .row.justify-content-center.mb-5
        .col-10(style="margin-left:5.5rem;")
          #carouselExampleIndicators.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
              li(data-target='#carouselExampleIndicators', data-slide-to='1')
              li(data-target='#carouselExampleIndicators', data-slide-to='2')
              li(data-target='#carouselExampleIndicators', data-slide-to='3')
              li(data-target='#carouselExampleIndicators', data-slide-to='4')
              li(data-target='#carouselExampleIndicators', data-slide-to='5')
              li(data-target='#carouselExampleIndicators', data-slide-to='6')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2_01.jpg', alt='0')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2_02.jpg', alt='1')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2_03.jpg', alt='2')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2_04.jpg', alt='3')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2_05.jpg', alt='4')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2_06.jpg', alt='5')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2_07.jpg', alt='6')                              
                                                   
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/icon_1_05.svg", alt="", style="width:65px")
        .col.col-lg-10
          .jumbotron.bg-custom.mb-0
            p.mb-0 #[strong Ángulo:] es el que determina el punto de vista de la cámara, que provee un recurso expresivo al momento de mostrar el aspecto psicológico de un plano.

      .row.justify-content-center.mb-5
        .col-10(style="margin-left:5.5rem;")
          #carousel_2.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carousel_2', data-slide-to='0')
              li(data-target='#carousel_2', data-slide-to='1')
              li(data-target='#carousel_2', data-slide-to='2')
              li(data-target='#carousel_2', data-slide-to='3')
              li(data-target='#carousel_2', data-slide-to='4')
              li(data-target='#carousel_2', data-slide-to='5')
              li(data-target='#carousel_2', data-slide-to='6')
              li(data-target='#carousel_2', data-slide-to='7')
              li(data-target='#carousel_2', data-slide-to='8')          
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2A_01.jpg', alt='0')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2A_02.jpg', alt='1')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2A_03.jpg', alt='2')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2A_04.jpg', alt='3')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2A_05.jpg', alt='4')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2A_06.jpg', alt='5')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2A_07.jpg', alt='6')  
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2A_08.jpg', alt='7')  
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_2A_09.jpg', alt='8') 
                    
            a.carousel-control-prev(href='#carousel_2', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carousel_2', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/icon_1_05.svg", alt="", style="width:65px")
        .col.col-lg-10
          .jumbotron.bg-custom.mb-0
            p.mb-0 #[strong Movimientos de cámara:] Son aquellos que generan encuadres móviles, en los cuales se puede describir un escenario o una acción. 

      .row.justify-content-center
        .col-10(style="margin-left:5.5rem;")
          .card.card-bg-color
            .card-body
              .row
                .col-3
                  .nav.flex-column.nav-pills#v-pills-tab(role="tablist", aria-orientation="vertical")
                    a.text-center.nav-link.active#v-pills-1-tab(data-toggle="pill", href="#v-pills-1", role="tab", aria-controls="v-pills-1", aria-selected="true") Dolly in/out
                    a.text-center.nav-link#v-pills-2-tab(data-toggle="pill", href="#v-pills-2", role="tab", aria-controls="v-pills-2", aria-selected="false") Zoom in/out
                    a.text-center.nav-link#v-pills-3-tab(data-toggle="pill", href="#v-pills-3", role="tab", aria-controls="v-pills-3", aria-selected="false") Dolly Zoom o efecto vértigo
                    a.text-center.nav-link#v-pills-4-tab(data-toggle="pill", href="#v-pills-4", role="tab", aria-controls="v-pills-", aria-selected="false") Panoramica/Pan
                    a.text-center.nav-link#v-pills-5-tab(data-toggle="pill", href="#v-pills-5", role="tab", aria-controls="v-pills-", aria-selected="false") Tild up/down
                    a.text-center.nav-link#v-pills-6-tab(data-toggle="pill", href="#v-pills-6", role="tab", aria-controls="v-pills-", aria-selected="false") Travelling
                    a.text-center.nav-link#v-pills-7-tab(data-toggle="pill", href="#v-pills-7", role="tab", aria-controls="v-pills-", aria-selected="false") Shake
                    a.text-center.nav-link#v-pills-8-tab(data-toggle="pill", href="#v-pills-8", role="tab", aria-controls="v-pills-", aria-selected="false") Barrido/Zip Pan
                .col-9
                  .tab-content#v-pills-tabContent
                    .tab-pane.fade.show.active#v-pills-1(role="tabpanel", aria-labelledby="v-pills-1-tab")
                      img(src="assets/images/pages/tema_1/tabs_01.png", alt="", style="width:100%")
                      p La cámara se desplaza hacia adentro (in) o hacia afuera (out) del escenario. Aunque pueda ser similar al Zoom in/out, el dolly mantiene el foco y el efecto generado aporta mayor dinamismo, profundidad y potencia las perspectivas. (CÁMARA, 2006)                 
                    .tab-pane.fade#v-pills-2(role="tabpanel", aria-labelledby="v-pills-2-tab")
                      img(src="assets/images/pages/tema_1/tabs_02.png", alt="", style="width:100%")
                      p La cámara permanece estática pero el lente se abre o cierra, causando que los objetos se acerquen o se alejen. (ACEITUNO, 2010).
                      
                    .tab-pane.fade#v-pills-3(role="tabpanel", aria-labelledby="v-pills-3-tab")
                      img(src="assets/images/pages/tema_1/tabs_03.png", alt="", style="width:100%")
                      p.mb-3 Es un efecto combinado entre el desplazamiento de la cámara hacia adelante o hacia atrás (Dolly) con un efecto óptico de zoom.
                      p Desde una búsqueda simple en Internet o a través del material complementario puede visualizar un ejemplo propuesto por #[strong TRNGL Entertainment (2020), Dolly Zoom (El efecto vértigo) | Curso de Cine.]
                    .tab-pane.fade#v-pills-4(role="tabpanel", aria-labelledby="v-pills-4-tab")
                      img(src="assets/images/pages/tema_1/tabs_04.png", alt="", style="width:100%")
                      p.mb-3 La cámara permanece anclada en un punto y gira sobre su propio eje, de derecha a izquierda o viceversa.
                    .tab-pane.fade#v-pills-5(role="tabpanel", aria-labelledby="v-pills-5-tab")
                      img(src="assets/images/pages/tema_1/tabs_05.png", alt="", style="width:100%")
                      p.mb-3 La cámara permanece anclada y sube o baja en el eje vertical.
                    .tab-pane.fade#v-pills-6(role="tabpanel", aria-labelledby="v-pills-6-tab")
                      img(src="assets/images/pages/tema_1/tabs_06.png", alt="", style="width:100%")
                      p.mb-3 Es el desplazamiento de la cámara sobre un vehículo (rieles, grúa). Existen varios tipos (MARQUÈS, 1995):
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                        .list__txt
                          p.mb-2 #[strong Lateral:] para acompañar al personaje cuando se desplaza.
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                        .list__txt
                          p.mb-2 #[strong Ascendente / descendente:] el movimiento es hacia arriba o hacia abajo.
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                        .list__txt
                          p.mb-2 #[strong Circular:] desplazamiento alrededor del personaje

                    .tab-pane.fade#v-pills-7(role="tabpanel", aria-labelledby="v-pills-7-tab")
                      img(src="assets/images/pages/tema_1/tabs_07.png", alt="", style="width:100%")
                      p.mb-3 Temblor en la cámara que es originado por un golpe violento al personaje o el escenario. Pueden dar sensación de un temblor, la caída de algo muy pesado o una explosión. (CÁMARA, 2006)

                    .tab-pane.fade#v-pills-8(role="tabpanel", aria-labelledby="v-pills-8-tab")
                      img(src="assets/images/pages/tema_1/tabs_08.png", alt="", style="width:100%")
                      p.mb-3 Es una panorámica o travelling corta que se realiza a gran velocidad, causando que los objetos se vean borrosos. Se usa como transición entre dos encuadres o para mostrar un repentino cambio de punto de vista. (CÁMARA, 2006)  

      .row.justify-content-center
        .col-10(style="margin-left:5.5rem;")
          .jumbotron.bg-custom
            p.mb-5 Puede verificar desde una búsqueda en internet o desde el material complementario algunos de los siguientes vídeos en los cuales se presentan ejemplos de los diferentes planos, ángulos y movimientos de cámara. 
            .row
              .col-auto.mb-5        
                a(href="https://youtu.be/AN2I1CTn3rY", target="_blank", style="color:#12263F")
                  .jumbotron.bg-white.mb-0
                    .row.justify-content-center.align-items-center
                      .col-auto
                        img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                      .col
                        p.mb-0 #[strong Ejemplo.] La ciencia del Cine (2018), Planos y Movimientos de Cámara I
              .col-auto.mb-5        
                a(href="https://youtu.be/ILRjN0b30Pc", target="_blank", style="color:#12263F")
                  .jumbotron.bg-white.mb-0
                    .row.justify-content-center.align-items-center
                      .col-auto
                        img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                      .col
                        p.mb-0 #[strong Ejemplo.] La ciencia del Cine (2019), Plano y Movimientos de Cámara II: Angulación.
              .col-auto.mb-0       
                a(href="https://youtu.be/dBPjG2YipY4", target="_blank", style="color:#12263F")
                  .jumbotron.bg-white.mb-0
                    .row.justify-content-center.align-items-center
                      .col-auto
                        img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                      .col
                        p.mb-0 #[strong Ejemplo.] La ciencia del Cine (2020), Plano y Movimientos de Cámara III: Puntos de vista y movimientos. 
                          
      

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/icon_1_06.svg", alt="", style="width:65px")
        .col.col-lg-10
          .jumbotron.bg-custom.mb-0
            p.mb-3 #[strong Composición:] hace referencia a las diferentes opciones de distribución de los elementos que hacen parte de una escena o imagen dentro del encuadre.
            p La tarea del director es orientar o dirigir la atención de la audiencia hacia lo esencial, teniendo presente que son pocos segundos los que tiene el espectador para apreciar y entender cada plano. Para este fin, se vale de reglas de composición.

      .row.justify-content-center
        .col-10(style="margin-left:5.5rem;")
          .card.card-bg-color
            .card-body
              .row
                .col-3
                  .nav.flex-column.nav-pills#v-pills-01-tab(role="tablist", aria-orientation="vertical")
                    a.text-center.nav-link.active#v-pills-01-tab(data-toggle="pill", href="#v-pills-01", role="tab", aria-controls="v-pills-01", aria-selected="true") Regla de tercios
                    a.text-center.nav-link#v-pills-02-tab(data-toggle="pill", href="#v-pills-02", role="tab", aria-controls="v-pills-02", aria-selected="false") Líneas
                    a.text-center.nav-link#v-pills-03-tab(data-toggle="pill", href="#v-pills-03", role="tab", aria-controls="v-pills-03", aria-selected="false") Luz
                    a.text-center.nav-link#v-pills-04-tab(data-toggle="pill", href="#v-pills-04", role="tab", aria-controls="v-pills-04", aria-selected="false") Enfoque selectivo
                    a.text-center.nav-link#v-pills-05-tab(data-toggle="pill", href="#v-pills-05", role="tab", aria-controls="v-pills-05", aria-selected="false") Color
                    a.text-center.nav-link#v-pills-06-tab(data-toggle="pill", href="#v-pills-06", role="tab", aria-controls="v-pills-06", aria-selected="false") Composición áurea o golden ratio

                .col-9
                  .tab-content#v-pills-01-tabContent
                    .tab-pane.fade.show.active#v-pills-01(role="tabpanel", aria-labelledby="v-pills-01-tab")
                      img(src="assets/images/pages/tema_1/tabs_02_01.png", alt="", style="width:100%")
                      p.mt-4 El encuadre se divide en tres partes iguales, horizontal y verticalmente (ver imagen A). Los puntos donde se interceptan las líneas (puntos de color de la imagen A ) son los puntos de mayor interés de la composición, por tal motivo, los elementos deberán disponerse en esos puntos o lo más cerca posible de ellos. La distribución en tercios rompe la simetría que produce la composición en el centro (comparar imagen A y B) (BANCROFT, 2012). 

                    .tab-pane.fade#v-pills-02(role="tabpanel", aria-labelledby="v-pills-02-tab")
                      img(src="assets/images/pages/tema_1/tabs_02_02.png", alt="", style="width:100%")
                      p.mt-4 La dirección que toman las líneas en el encuadre ayuda a dirigir la vista del espectador. Las líneas verticales transmiten rectitud y orden, las horizontales ofrecen reposo y estabilidad, las curvas son sensualidad y las oblicuas desequilibrio y movimiento (CÁMARA, 2006).

                    .tab-pane.fade#v-pills-03(role="tabpanel", aria-labelledby="v-pills-03-tab")
                      img(src="assets/images/pages/tema_1/tabs_02_03.png", alt="", style="width:100%")
                      p.mt-4 El ojo del espectador se dirigirá a los objeto o zona que se encuentre iluminada, mientras que las zonas oscuras perderán importancia.

                    .tab-pane.fade#v-pills-04(role="tabpanel", aria-labelledby="v-pills-04-tab")
                      img(src="assets/images/pages/tema_1/tabs_02_04.png", alt="", style="width:100%")
                      p.mt-4 Se enfoca un elemento del encuadre y los demás aparecerán borrosos. Es un efecto similar a como los seres humanos ven.

                    .tab-pane.fade#v-pills-05(role="tabpanel", aria-labelledby="v-pills-05-tab")
                      img(src="assets/images/pages/tema_1/tabs_02_05.png", alt="", style="width:100%")
                      p.mt-4 Se hace uso de la teoría del color con el fin de destacar un objeto dentro de muchos.

                    .tab-pane.fade#v-pills-06(role="tabpanel", aria-labelledby="v-pills-06-tab")
                      img(src="assets/images/pages/tema_1/tabs_02_06.png", alt="", style="width:100%")
                      p.mt-4 Distribución basada en la serie de Fibonacci (matemáticas). Es un patrón que está presente en la naturaleza.           
     

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/icon_1_07.svg", alt="", style="width:65px")
        .col.col-lg-10
          .jumbotron.bg-custom.mb-0
            p.mb-0 #[strong Continuidad:] Más conocido como raccord. Tiene que ver con la relación que existe entre los diferentes planos a fin de que no se pierda la sensación de unidad. Cada plano de una escena, similar a una cadena, tendrá que servir de base para el siguiente.
            
        .col-10(style="margin-left:5.5rem;").mt-3
          .jumbotron.bg-custom.mb-0
            p.mb-5  Se debe tener en cuenta la continuidad en espacio, tiempo, iluminación y vestuario. Uno de los principales es el espacio, el cual nos dice que, si un personaje sale de plano por un lado del encuadre, en el siguiente plano deberá entrar por el lado contrario. (MARQUÈS, 1995). 
            .row
              .col-auto-mb-0       
                a(href="https://www.youtube.com/watch?v=ew5WzvL-fEk&ab_channel=LacienciadelCine", target="_blank", style="color:#12263F")
                  .jumbotron.bg-white.mb-0
                    .row.justify-content-center.align-items-center
                      .col-auto
                        img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                      .col
                        p.mb-0 #[strong Ejemplo.] La ciencia del Cine (2020), Elementos del cine: CONTINUIDAD + ERRORES en películas

                      
      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/icon_1_08.svg", alt="", style="width:65px")
        .col.col-lg-10
          .jumbotron.bg-custom.mb-0
            p.mb-3 #[strong Ritmo:] está al servicio de la narrativa y depende directamente de la sensación que se quiere transmitir. Dentro de un audiovisual se puede tener tanto un ritmo dinámico, como un ritmo suave. Como su nombre lo indica, el ritmo dinámico se caracteriza por mayor cambio de planos de corta duración (MS, CU) lo cual crea una sensación de acción y movimiento. En contraste, el ritmo suave suele tener planos de mayor duración y potencia la lectura de las expresiones y pensamientos de los personajes. La clave estará entonces, en lograr un equilibrio entre estos dos tipos de ritmo (MARQUÈS, 1995).
            
        .col-10(style="margin-left:5.5rem;").mt-3
          .jumbotron.bg-custom.mb-0
            p El ritmo está condicionado entonces por el ritmo interno del plano, dado por las acciones que en él suceden, así como también por el encuadre, la variación de centros de interés, el movimiento de la cámara o del zoom, y la combinación con los planos anteriores y posteriores (Fernández, F. Martínez, J. 1999).              
            .row
              .col-auto.mb-0        
                a(href="https://www.youtube.com/watch?v=YwJaz7tXq1Y", target="_blank", style="color:#12263F")
                  .jumbotron.bg-white.mb-0
                    .row.justify-content-center.align-items-center
                      .col-auto
                        img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                      .col
                        p.mb-0 #[strong Ejemplo.] Ritmo narrativo: ¿qué es y por qué es tan importante? 

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/icon_1_09.svg", alt="", style="width:65px")
        .col.col-lg-10
          .jumbotron.bg-custom.mb-0
            p.mb-3 #[strong Elipsis y transiciones:] este elemento se equipará a los signos de puntuación en la escritura. La elipsis es la omisión del tiempo muerto con el objetivo de mostrar solo aquellas acciones relevantes, significativas y atractivas, por cualquier forma de transición. Podemos pasar de hoy a mañana, al próximo siglo o a los próximos milenios (Fernández, F. Martínez, J. 1999). Es la herramienta narrativa que ayuda a pasar de una secuencia a otra para avanzar en la historia en tiempo y espacio (CÁMARA, 2006).
            p.mb-0 Una elipsis se realiza mediante el uso de transiciones, las cuales son variadas y cada una posee su propio valor expresivo.

      .row.justify-content-center
        .col-10(style="margin-left:5.5rem;")
          .card.card-bg-color
            .card-body
              .row
                .col-3
                  .nav.flex-column.nav-pills#v-pills-B01-tab(role="tablist", aria-orientation="vertical")
                    a.text-center.nav-link.active#v-pills-B01-tab(data-toggle="pill", href="#v-pills-B01", role="tab", aria-controls="v-pills-B01", aria-selected="true") Corte
                    a.text-center.nav-link#v-pills-B02-tab(data-toggle="pill", href="#v-pills-B02", role="tab", aria-controls="v-pills-B02", aria-selected="false") Fundido encadenado / cross-dissolve
                    a.text-center.nav-link#v-pills-B03-tab(data-toggle="pill", href="#v-pills-B03", role="tab", aria-controls="v-pills-B03", aria-selected="false") Fundido a negro o de negro / Fade in-out

                .col-9
                  .tab-content#v-pills-B01-tabContent
                    .tab-pane.fade.show.active#v-pills-B01(role="tabpanel", aria-labelledby="v-pills-B01-tab")
                      img(src="assets/images/pages/tema_1/tabs_03_01.png", alt="", style="width:100%")
                      p Conocido como corte directo o seco. Es el paso limpio de un plano a otro. Sugiere continuidad narrativa e imprime un carácter dinámico y natural. Se entiende que no transcurre tiempo entre las escenas que se conectan. Se debe prestar especial atención al raccord visual, con el fin que el espectador no note el recurso.

                    .tab-pane.fade#v-pills-B02(role="tabpanel", aria-labelledby="v-pills-B02-tab")
                      img(src="assets/images/pages/tema_1/tabs_03_02.png", alt="", style="width:100%")
                      p La transición entre dos escenas es gradual y el tiempo que tome este desvanecimiento indicará la intensidad del cambio. Suele usarse para cambios de tiempo no muy largos, mostrar al mismo personaje en otras situaciones o llegar a mostrar saltos en el tiempo al pasado o posible futuro. Este recurso suele combinarse con un efecto de agua y así vender una idea irreal, imaginación o sueño. Luego del corte directo, es el recurso más usado.

                    .tab-pane.fade#v-pills-B03(role="tabpanel", aria-labelledby="v-pills-B03-tab")
                      img(src="assets/images/pages/tema_1/tabs_03_03.png", alt="", style="width:100%")
                      p El plano se oscurece hasta llenar la pantalla de negro, o de negro gradualmente deja ver la imagen del siguiente plano. Se utiliza para inicios y finales de secuencias, o también para transmitir el paso de un periodo largo de tiempo (CÁMARA, 2006).

                    