.container#tema_5

    .header-ecored
        h1 5. Elevator pitch 

    .jumbotron.bg-white    
      .row.mb-5
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_5/img_5_01.jpg", alt="", style="width:100%").img-fluid 
        .col-12
          p.mb-0 Se le da el nombre de presentación de #[i pitch] a una discurso corto y conciso (de 30 segundos a máximo 2 minutos), donde se describe una idea, producto o compañía, con el objetivo de buscar financiación de un posible inversor para desarrollar un proyecto. Es la mejor herramienta para responder a la pregunta ¿qué hace su empresa? o en nuestro caso ¿qué proyecto audiovisual va a realizar? ¿En qué se enfocaría si solo tuviera 30 segundos para mostrar su idea?.     

      .row
        .col-auto
          .jumbotron.mb-0
            h3.mb-0 Consejos para la presentación
      
      .row.justify-content-center.mb-5       
        .col-12.col-lg-9
            .steps
              .steps__header
                .steps__header__number
                  h3 01
                .steps__header__icon
                  img(src="assets/images/pages/tema_5/steps_icon_04.svg", alt="")       
                .steps__header__title.stc_color_04
                  h3 Sea breve
              .steps__copy
                p La presentación de pitch no es un espacio para presentar todos los detalles del proyecto, solo lo esencial. No por esto caiga en el error de hablar demasiado rápido. 

              .steps__header
                .steps__header__number
                  h3 02
                .steps__header__icon
                  img(src="assets/images/pages/tema_5/steps_icon_04.svg", alt="")       
                .steps__header__title.stc_color_04
                  h3 Sea persuasivo
              .steps__copy
                p No es una presentación de ventas, pero sí pretende convencer o generar expectativa y emoción. Busque tener una introducción explosiva y un nombre atractivo. 

              .steps__header
                .steps__header__number
                  h3 03
                .steps__header__icon
                  img(src="assets/images/pages/tema_5/steps_icon_04.svg", alt="")       
                .steps__header__title.stc_color_04
                  h3 Tenga una presentación
              .steps__copy
                p Realice diapositivas con un diseño único y coherente con el proyecto.
              
              .steps__header
                .steps__header__number
                  h3 04
                .steps__header__icon
                  img(src="assets/images/pages/tema_5/steps_icon_04.svg", alt="")       
                .steps__header__title.stc_color_04
                  h3 Conozca su audiencia
              .steps__copy
                p Realice un estudio de la persona o compañía a la que va a exponer su proyecto e identifique su experiencia o los proyectos en los que suele interesarse.

              .steps__header
                .steps__header__number
                  h3 05
                .steps__header__icon
                  img(src="assets/images/pages/tema_5/steps_icon_04.svg", alt="")       
                .steps__header__title.stc_color_04
                  h3 Comparta sus habilidades
              .steps__copy
                p Se debe explicar quién es usted o su equipo, cuál es la experiencia y habilidades que poseen.

              .steps__header
                .steps__header__number
                  h3 06
                .steps__header__icon
                  img(src="assets/images/pages/tema_5/steps_icon_04.svg", alt="")       
                .steps__header__title.stc_color_04
                  h3 Practique varias veces
              .steps__copy
                p Es la mejor manera para lograr sentirse cómodo y exponerlo de forma natural. Puede presentarlo a un amigo o grabarse, con el fin de recibir opiniones.

              .steps__header
                .steps__header__number
                  h3 07
                .steps__header__icon
                  img(src="assets/images/pages/tema_5/steps_icon_04.svg", alt="")       
                .steps__header__title.stc_color_04
                  h3 Sea flexible
              .steps__copy
                p Esté abierto a responder posibles preguntas que le puedan hacer en medio de la presentación.

              .steps__header
                .steps__header__number
                  h3 08
                .steps__header__icon
                  img(src="assets/images/pages/tema_5/steps_icon_04.svg", alt="")       
                .steps__header__title.stc_color_04
                  h3 Evite divagar
              .steps__copy
                p La clave para no caer en este error es la práctica hasta llegar a interiorizar toda la presentación.

              .steps__header
                .steps__header__number
                  h3 09
                .steps__header__icon
                  img(src="assets/images/pages/tema_5/steps_icon_04.svg", alt="")       
                .steps__header__title.stc_color_04
                  h3 Module su tono de voz

              .steps__header
                .steps__header__number
                  h3 10
                .steps__header__icon
                  img(src="assets/images/pages/tema_5/steps_icon_04.svg", alt="")       
                .steps__header__title.stc_color_04
                  h3 Responda preguntas
              .steps__copy
                p Prepárese para responder preguntas específicas con respuestas concisas.

              .steps__header
                .steps__header__number
                  h3 11
                .steps__header__icon
                  img(src="assets/images/pages/tema_5/steps_icon_04.svg", alt="")       
                .steps__header__title.stc_color_04
                  h3 No mienta
              .steps__copy
                p Si no conoce la respuesta, es mejor no dar información equivocada. Anótelas para llegar a cubrirlas en una próxima presentación.                 

      .row.justify-content-center.mb-5
        .col-12.mb-2
          .jumbotron
            h3.text-center.mb-0 Consejos para la presentación
        .col-11
          #carousel_2.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carousel_2', data-slide-to='0')
              li(data-target='#carousel_2', data-slide-to='1')
              li(data-target='#carousel_2', data-slide-to='2')
              li(data-target='#carousel_2', data-slide-to='3')
              li(data-target='#carousel_2', data-slide-to='4')
              li(data-target='#carousel_2', data-slide-to='5')
              li(data-target='#carousel_2', data-slide-to='6')
              li(data-target='#carousel_2', data-slide-to='7')
              li(data-target='#carousel_2', data-slide-to='8')
              li(data-target='#carousel_2', data-slide-to='9')         
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='assets/images/pages/tema_5/slider_2A_01.jpg', alt='0')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_5/slider_2A_02.jpg', alt='1')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_5/slider_2A_03.jpg', alt='2')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_5/slider_2A_04.jpg', alt='3')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_5/slider_2A_05.jpg', alt='4')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_5/slider_2A_06.jpg', alt='5')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_5/slider_2A_07.jpg', alt='6')  
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_5/slider_2A_08.jpg', alt='7')    
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_5/slider_2A_09.jpg', alt='8') 
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_5/slider_2A_10.jpg', alt='9')                             
                                                   
            a.carousel-control-prev(href='#carousel_2', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carousel_2', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next

      .jumbotron.mb-0
        .row
          .col-12
            p.mb-5 Para ampliar más acerca de un Elevator Pitch puede consultar desde el material complementario o desde la web algunos ejemplos que, aunque describen el discurso de un pitch con fines de financiación, aportan información valiosa y útil al momento de mostrar ideas de proyecto: 
            .row
              .col-auto.mb-5        
                a(href="https://youtu.be/EsAkvzIoEvc", target="_blank", style="color:#12263F")
                  .jumbotron.bg-white.mb-0
                    .row.justify-content-center.align-items-center
                      .col-auto
                        img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                      .col
                        p.mb-0 #[strong Ejemplo.] Negocios y Empresa (2018, Cómo hacer un Elevator Pitch que enamore al Inversor 
              .col-auto.mb-0
                a(href="https://youtu.be/2b3xG_YjgvI", target="_blank", style="color:#12263F")
                  .jumbotron.bg-white.mb-0
                    .row.justify-content-center.align-items-center
                      .col-auto
                        img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                      .col
                        p.mb-0 #[strong Ejemplo.] IurisdocTV, (2013), Elevator pitch. Tienes 20 segundos - eduCaixa