.container#tema_4

    .header-ecored
        h1 4. Introducción al dibujo básico  

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3
            h2 4.3 Perspectiva

      .row.align-items-center
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/img_4_3_01.svg", alt="", style="width:350px")
        .col
          p La perspectiva es una técnica de representación que busca mostrar fielmente sobre una superficie de dos dimensiones los objetos tal cual como se ven en el mundo real al crear la sensación de profundidad.
          p.mb-0 El dibujo no tiene profundidad estrictamente hablando, es decir, cuando se representa un objeto en un plano este solo existe en 2 dimensiones que son ancho y alto o según otras definiciones, horizontal y vertical o X y Y.
        .col-12.mt-4.mt-lg-5
          p.mb-0 En el dibujo existen muchos tipos de perspectiva, pero a continuación el foco se dará en las más usadas en el entorno artístico que se valen de la línea de horizonte la cual es una analogía de la línea recta en la lejanía que separa el mar o la tierra del cielo, por otro lado hace uso de puntos de fuga, que son puntos donde convergen las líneas proyectadas hacia el horizonte para crear la sensación de profundidad, los cuales se ubican sobre la línea de horizonte para el caso de las perspectivas de 1 y 2 puntos o en algún lugar sobre o bajo la línea de horizonte para el caso de la perspectiva de 3 puntos de fuga.

    .jumbotron.bg-white
      .row.mb-0      
        .col
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/zlpn6Nde9zs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')              

    .jumbotron.bg-white 
      .row.align-items-center
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/img_4_3_02.svg", alt="", style="width:350px")
        .col
          p #[strong Perspectiva con un punto de fuga]
          p.mb-0 Esta perspectiva hace uso de un punto de fuga ubicado sobre la línea de horizonte, el cual sirve de convergencia para proyectar las líneas que se generan desde o hacia los vértices de la figura, en esta perspectiva una cara del objeto se ve siempre frontal al espectador si se toma como ejemplo un cubo.
      
      .hr-divider.my-5

      .row.align-items-center
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/img_4_3_03.svg", alt="", style="width:350px")
        .col
          p #[strong Perspectiva con dos puntos de fuga]
          p.mb-0 Esta perspectiva hace uso de 2 puntos de fuga ubicados sobre la línea de horizonte y sobre estos convergen las líneas proyectadas desde o hacia los vértices de la figura, en esta perspectiva el objeto es visto desde una de sus aristas si se toma como ejemplo un cubo.

      .hr-divider.my-5

      .row.align-items-center
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/img_4_3_04.svg", alt="", style="width:350px")
        .col
          p #[strong Perspectiva con un tres puntos de fuga]
          p.mb-0 Esta perspectiva parte de la perspectiva de 2 puntos de fuga y adiciona un tercero que se ubica bajo la línea de horizonte si se quiere representar un objeto visto desde arriba o sobre la línea de horizonte si se quiere representar un objeto visto desde abajo mostrando una disminución en el volumen del objeto cuanto más se acerca hacia el tercer punto de fuga.

      .hr-divider.my-5

      .row.align-items-center
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/img_4_3_05.svg", alt="", style="width:350px")
        .col
          p #[strong Perspectiva isométrica]
          p.mb-0 Es un tipo de perspectiva usado principalmente en dibujo técnico y muy común en muchos juegos con vista aérea, en esta, aunque se visualizan 3 caras del objeto al tiempo, no existe disminución de volumen cuando el objeto se representa en la lejanía.
