.container#tema_4

    .header-ecored
        h1 4. Dibujo básico  

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3
            h2 4.1 Herramientas de dibujo

      .row
        .col-12
          p Para dibujar existen muchos instrumentos, utensilios y herramientas, a continuación, se da una breve descripción de algunos de los más utilizados clasificados según su uso:

      .row.justify-content-center
        .col-12.col-lg-6.mt-4.mb-3
          img(src="assets/images/pages/tema_4/title_4_1_01.png", alt="", style="width:100%")

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_4/img_4_1_01.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span A
                .list__txt
                  h3 Lápices y portaminas
                  p El lápiz es un instrumento para dibujo o escritura que consiste habitualmente en una barra (conocida también como mina) compuesta de una mezcla de grafito y arcilla o cera encapsulada en un cilindro de madera (actualmente se usan muchos otros materiales como plástico, papel, etc.) que le da soporte a la mina, también son fabricados de colores mediante el uso de diferentes pigmentos, pero para dibujo el más usado suele ser el lápiz de grafito.
                  p Los lápices de grafito se marcan con letras y números según la composición de la mina usando la H (del inglés #[i Hard]) para las minas duras y la B (del inglés #[i Back]) para las minas blandas, entre más dura sea la mina más claro será el trazo dejado por el lápiz y en contraposición, entre más blanda sea la mina más oscuro será el trazo debido a que así el lápiz deja sobre el soporte mayor cantidad de grafito.
                  .row.justify-content-center.my-6
                    .col-12.col-lg-9           
                      img(src="assets/images/pages/tema_4/info_4_1_01.svg", alt="", style="width:100%").img-fluid 
                  p El portaminas es otro instrumento de dibujo análogo al lápiz con la diferencia de que tiene un sistema mecánico para proveer las minas, las cuales se pueden reemplazar una vez se acaban.

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_4/img_4_1_02.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span B
                .list__txt
                  h3 Bolígrafos y plumas
                  p.mb-0 Son instrumentos de escritura que cuentan con sistemas mecánicos para dosificar tinta. Aunque principalmente son usados para escribir es común que algunos artistas los usen para dibujar.

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_4/img_4_1_03.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span C
                .list__txt
                  h3 Sacapuntas y bisturí
                  p.mb-0 Los sacapuntas son utensilios usados para desbastar el recubrimiento de madera de los lápices a medida que se va desgastando la mina, existen muchos modelos de sacapuntas, pero su finalidad es la misma, también es común hacer uso de cuchillas como los bisturí para hacer el desbaste de la madera y afilar las puntas de las minas a medida que se gastan.

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_4/img_4_1_04.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span D
                .list__txt
                  h3 Papeles
                  p El papel es un material obtenido del procesamiento de fibras vegetales de las que se obtiene pulpa de celulosa mediante métodos de molienda, la cual es procesada y prensada para obtener láminas delgadas de características variables según el proceso que se les aplique.
                  p.mb-0 Existen diferentes tipos de papel destinados a variedad de aplicaciones, aunque en principio todos sirven para dibujar, entre los más comunes y fáciles de conseguir se encuentra el papel bond de 75 gramos que regularmente es de uso de oficina, sin embargo, en casi cualquier papelería o tienda de implementos de arte se consiguen más variedades.

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_4/img_4_1_05.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span E
                .list__txt
                  h3 Gomas de borrar
                  p Son instrumentos diseñados para eliminar trazos de lápiz y de algunas tintas borrables, hay de consistencia rígida, aunque con algo de flexibilidad y algunas maleables como la goma limpia tipos.

      .row.justify-content-center
        .col-12.col-lg-6.mt-4.mb-3
          img(src="assets/images/pages/tema_4/title_4_1_02.png", alt="", style="width:100%")    

      .row.mt-4
        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[i Hardware] 
              p Actualmente existen muchas alternativas de equipos de cómputo y periféricos útiles para desarrollar ilustraciones que van desde los teléfonos móviles, hasta computadores de escritorio pasando por computadores y portátiles, #[i tablets] y otros periféricos especializados en la ilustración digital 2D y 3D.

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_4/img_4_1_06.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span A
                .list__txt
                  h3 Teléfonos móviles 
                  p Actualmente la capacidad de cómputo de los teléfonos móviles supera con creces la poseída por los computadores de escritorio de finales de los 90, especialmente los que encajan en la categoría de Smartphone, ya que en su mayoría poseen una pantalla táctil de suficiente tamaño que brinda la posibilidad de dibujar sobre ella como si se tratara de una libreta de bolsillo digital, gracias a esta característica y las diferentes aplicaciones y algunos utensilios como los stylus (este último no es indispensable) los smartphones se convierten en una alternativa al alcance de la mayoría de personas para realizar dibujos digitales.

        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_4/img_4_1_07.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span B
                .list__txt
                  h3 #[i Tablets] 
                  p Son dispositivos con grandes pantallas táctiles, habitualmente mayores a 7” y que funcionan generalmente bajo los mismos sistemas operativos que los Smartphones, como lo son android, iOs y en algunos casos Windows, gracias a esto la mayoría de aplicaciones disponibles para teléfonos móviles están disponibles también para las #[i tablets] y dado su tamaño de pantalla son una alternativa más cómoda para dibujar que un smartphone.
                  p El dispositivo más usado de esta categoría por artistas dedicados a la ilustración sin lugar a dudas es el iPad de Apple, sin embargo, en el mercado existen muchas otras alternativas con funcionalidades iguales o similares en un amplio rango de precios.

        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_4/img_4_1_08.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span C
                .list__txt
                  h3 Computadores 
                  p Los computadores son la alternativa más utilizada en cuanto a trabajo profesional se refiere, principalmente por las posibilidades de personalización según las necesidades y porque ofrecen más capacidad de cómputo que alternativas como móviles o #[i tablets] y por tanto son capaces de ejecutar aplicaciones más potentes para ilustración.
                  p Existen en 2 grandes categorías que son equipos de escritorio y equipos portátiles diferenciándose principalmente por su volumen y peso lo que hace que el equipo deba ser usado en una estación fija para el caso de los equipos de escritorio o tenga la posibilidad de ser transportado con libertad para el caso de los portátiles (conocidos también como laptops).
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_4/img_4_1_09.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span D
                .list__txt
                  h3 Tabletas gráficas 
                  p Las tabletas gráficas son un periférico de entrada que se conecta a un computador de escritorio o portátil, e incluso algunos modelos actuales permiten conexión con smartphones compatibles, constan de una superficie plana sobre la cual se interactúa por medio de un lápiz que es capaz de detectar la posición, contacto, presión y en ocasiones inclinación para transferir esa información al trazo representado en pantalla.
                  p.mb-0 Las hay de muchas marcas, modelos y precios siendo los fabricantes especializados más conocidos Wacom, Xp Pen y Huion, existen otros fabricantes, pero por presencia en el mercado los modelos de estos tres fabricantes son los más sencillos de encontrar en la región de Latinoamérica.

        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_4/img_4_1_10.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span E
                .list__txt
                  h3 Pantallas gráficas 
                  p En esencia tienen el mismo funcionamiento que una tableta gráfica, salvo que la superficie sobre la cual se interactúa con el lápiz funciona también como monitor, razón por la cual la experiencia de uso es más natural, pero en contraposición su costo es más elevado.
                  p.mb-0 Al igual que con las tabletas gráficas, las marcas de dispositivos más fáciles de encontrar en la región son Wacom, Xp Pen y Huion.
              

      .row.mt-6
        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[i Software] 
              p El #[i software] es el conjunto de instrucciones (Programas) que permiten la utilización de los equipos de cómputo, el principal es el sistema operativo el cual cumple la función de ser base para la operación del equipo y de otros programas. Las plataformas más populares actualmente para ordenadores de escritorio y portátiles son Windows, macOS y Linux en sus diversas distribuciones y iOS y Android para dispositivos móviles, lo que ocasiona que la mayoría de aplicaciones para dibujo se centren en estos sistemas operativos.
              p.mb-5 A continuación, se listan algunas de las aplicaciones más populares gratuitas y de pago para las distintas plataformas.
              .col-12
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Paint] 
                    p.mb-0 Es un programa básico de dibujo, viene integrado con Windows y aunque no se suele usar a nivel profesional es una buena alternativa para empezar a explorar.

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Krita] 
                    p.mb-4 Es un programa de pintura digital gratuito y open source muy potente lo que lo hace uno de los más populares y por tanto es muy fácil encontrar tutoriales sobre él, está disponible para Windows, macOS y Linux.
                    .row
                      .col-auto      
                        a(href="https://krita.org/en/", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] Krita

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Inkscape] 
                    p.mb-4 Es un editor de gráficos vectoriales gratuito y open source disponible para plataformas Linux, Windows y macOS.
                    .row
                      .col-auto      
                        a(href="https://inkscape.org/", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] inkscape

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Autodesk Sketchbook] 
                    p.mb-4 Es el programa de dibujo de Autodesk y literalmente traduce libreta de bocetos, es de los programas más sencillos y fáciles de aprender, pero potentes para ilustración, está disponible para Windows, macOS, iOS y Android y actualmente es de uso gratuito.
                    .row
                      .col-auto      
                        a(href="https://www.sketchbook.com/", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] Autodesk Sketchbook

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Gimp] 
                    p.mb-4 Es la alternativa gratuita y open source a Photoshop por excelencia, y de las opciones más potentes para edición de fotografías, está disponible para Linux, Windows y macOs.
                    .row
                      .col-auto      
                        a(href="https://www.gimp.org/", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] Gimp

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Magmastudio] 
                    p.mb-4 Es una plataforma de uso web que permite la participación de varios autores a la vez en la creación de imágenes, tiene alternativas gratuitas y de pago y se puede acceder a él desde un explorador web como Chrome, Firefox o Edge
                    .row
                      .col-auto      
                        a(href="https://magmastudio.io/", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] Magmastudio

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Adobe Photoshop] 
                    p.mb-4 Es uno de los programas más conocidos del mundo de la casa Adobe, aunque inicialmente era para edición fotográfica se ha vuelto muy popular para ilustración digital, es de pago por suscripción con versión de prueba por 30 días y está disponible para Windows y macOS.
                    .row
                      .col-auto      
                        a(href="https://www.adobe.com/photoshop", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] Adobe Photoshop

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Adobe Illustrator] 
                    p.mb-4 Es un programa de diseño vectorial de la casa Adobe es de pago por suscripción con versión de prueba por 30 días y está disponible para Windows y macOS.
                    .row
                      .col-auto      
                        a(href="https://www.adobe.com/illustrator", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] Adobe Illustrator

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Clip Studio Paint] 
                    p.mb-4 Antiguamente Manga Studio es un programa de pago para ilustración digital, está disponible para Windows, macOS y iOS y tiene una versión de prueba de 30 días.
                    .row
                      .col-auto      
                        a(href="https://www.clipstudio.net/es/", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] Clip Studio Paint

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Corel Painter] 
                    p.mb-4 es un programa pago muy potente de pintura digital disponible para Windows y macOS, ofrece alternativas de único pago y suscripción y prueba gratis de 30 días.
                    .row
                      .col-auto      
                        a(href="https://www.painterartist.com/en/product/painter/#overview", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] Corel Painter

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Corel Draw] 
                    p.mb-4 Es la competencia directa de illustrator y se centra en dibujo y diseño vectorial y dependiendo de su versión está disponible para Windows, macOS y web.
                    .row
                      .col-auto      
                        a(href="https://www.coreldraw.com/", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] Corel Draw

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Afinity Designer] 
                    p.mb-4 es un programa de diseño que permite el intercalar entre el uso de pixeles y vectores lo que lo hace bastante versátil, es de pago y está disponible para Windows, macOS y iOs.
                    .row
                      .col-auto      
                        a(href="https://affinity.serif.com/en-us/designer/", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] Afinity Designer

                .hr-divider.my-4

                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    h3 #[strong Procreate] 
                    p.mb-4 Es una aplicación para dibujo y pintura digital que ha venido tomando bastante relevancia, es de pago y está disponible exclusivamente para iOS.
                    .row
                      .col-auto      
                        a(href="https://procreate.art/", target="_blank", style="color:#12263F")
                          .jumbotron.bg-custom.mb-0
                            .row.justify-content-center.align-items-center
                              .col-auto
                                img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                              .col
                                p.mb-0 #[strong Página web.] Procreate
                

