.container#tema_2

    .header-ecored
        h1 2. Guion técnico

    .jumbotron.bg-white     

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_2/img_2_1_01.svg", alt="", style="width:100%").img-fluid

        .col-12
          p Al igual que el storyboard, no hay un formato único para desarrollarlo, más bien responde a las necesidades del producto audiovisual y al equipo de producción. En este documento, a partir del guion literario, se planean cada uno de los planos que compondrán las secuencias, describiendo el tipo de plano, ángulo, movimientos de cámara, sonidos, efectos especiales, diálogos y duración.
        
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_2/img_2_1_02.svg", alt="", style="width:100%").img-fluid
        .col-12.mb-5
          p.text-center #[i Ejemplo de plano de guion técnico]

        .col-12
          p El guion técnico puede ser complementado con otra columna denominada plano de planta, donde se describe de forma gráfica la ubicación de los personajes y la cámara, como se muestra a continuación:
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_2/img_2_1_03.svg", alt="", style="width:100%").img-fluid

      .row
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Regla de los 180°

        .col-12
          p En la imagen anterior, adicional a un plano de planta, se puede visualizar una de las reglas más importantes al momento de componer planos cinematográficos: #[strong la regla de los 180°].
          p Esta regla dicta que existe una línea imaginaria denominada “eje de acción”, la cual se establece por la dirección de las miradas entre los personajes, o también por la dirección del movimiento de un personaje. Una vez dispuesta la cámara a un costado de la acción (ver imagen 2, cámara B), se tiene una referencia espacial de los personajes la cual se debe mantener, con el fin de no confundir al espectador o llegar a romper la continuidad espacial de la escena. Se ve que en la imagen 2, cámara A, B y C, los personajes siempre aparecen al costado izquierdo y derecho del encuadre respectivamente; no obstante, para la cámara D, se observa que la posición de los personajes se intercambió, y de ser estas 4 cámaras, planos de una misma escena, se caería en lo que se denomina “ruptura de eje”.
          p Esta regla, como todas en el lenguaje audiovisual, se puede romper, pero de manera consciente sabiendo que eso generará caos, confusión o desequilibrio. Para ampliar un poco este tema puede acceder al material complementario de estudio denominado #[strong AprenderCine.com (2017), Salto de eje y eje de acción en el cine].

      .hr-divider.my-5

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Consideraciones previas
              p Para el desarrollo del guion técnico se deben tener presentes las unidades que permiten separar una acción de otra:

      .row
        .col-12
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              P.mb-2 #[strong Secuencia:]
              P Es una unidad narrativa e independiente que posee significado. Tiene su propio inicio, desarrollo y conclusión de una situación dramática. La secuencia puede desarrollarse en un escenario o en varios, así como también puede estar compuesto por una o varias escenas. Puede desarrollarse de manera lineal o narrarse por fragmentos y mezclarse con otras secuencias (NOVASUR).
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              P.mb-2 #[strong Escena:]
              P Unidad de acción que se delimita por el espacio y tiempo. Si la acción cambia de escenario o hay una alteración en el tiempo, es necesario un cambio de escena. Una escena puede estar compuesta por uno o varios planos.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              P.mb-2 #[strong Toma:]
              P Lapso de tiempo desde que el director dice “acción” y se comienza a grabar, hasta el momento que dice “corten” y se detiene. En una grabación existen muchas tomas hasta que un plano salga como el director lo desea. Más adelante, la toma correcta es seleccionada y combinada por edición (montaje) (NOVASUR).
              p Usualmente en animación no hay tomas, dado que los planos que se animan se han planeado con rigor y no hay oportunidad, por tiempo y presupuesto, de hacer varias tomas para una misma acción narrativa.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              P.mb-2 #[strong Plano:]
              P Unidad básica del lenguaje audiovisual con significado, donde se define la dimensión de los objetos dentro del encuadre.

          



                


      